In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter("ignore")
%matplotlib inline

matplotlib.rcParams['figure.figsize'] = [6, 6]

In [2]:
# display all columns in preview
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# load the dataset
data = pd.read_csv("iXperience_dataset.csv",sep = None)

In [4]:
data.head()

,ID,Brand,Language,Website,created,Client email domain,Enquiry type,Enquiry status,Currency,Client budget,Arrival date,Arrival date text,Departure date,Num nights,Stay duration,Adults,Children,Flights booked,Residential country code,Detected country code,Detected city,Reviewed availability,Reviewed grade,Reviewed budget,Reviewed quality,Budget value,Click path,User agent,User repeat,User referral,Client last contact,Consultant last contact,First response time,Assignment response time,Has emails,Has calls,is open,is dead,Client email,Consultant email,Client calls,Consultant calls,Lead status,No response,No contact,GA source,GA medium,Device,GA keyword,GA campaign,GA language,GA country,Session duration,is booking,Last invoice date,Last travel date,Sales (excl vat),GP %,Sessions,Avg. session length (sec),Avg. pageviews per session,Pageviews,Hits,Status,Status Type,Enquiry open,Enquiry dead,Reason,Quality
0,82983.0,Rhino Africa - English,English,Rhino Africa,2016-01-01 00:20:49,yahoo.com,Website,Assigned,NaN,Luxury,19 06 2016,NaN,NaN,NaN,12,4.0,0.0,0.0,NaN,US,Shrewsbury,NaN,Package,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,google,organic,tablet,(not provided),(not set),en-us,United States,354.0,0.0,NaN,NaN,0.00000,NaN,1.0,354.0,3.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,82984.0,Rhino Africa - English,English,Rhino Africa,2016-01-01 00:55:12,att.net,Website,Assigned,NaN,Standard,03 04 2016,NaN,NaN,NaN,6,2.0,0.0,1.0,NaN,US,Stratford,NaN,Short Package,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(direct),(none),desktop,(not set),(not set),en-us,United States,1793.0,1.0,07 03 2017,06 11 2017,20621.66778,0.232503,1.0,1793.0,20.0,20.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,82985.0,Rhino Africa - English,English,Rhino Africa,2016-01-01 04:15:47,sunlife.com,Website,Assigned,NaN,Luxury,22 07 2016,NaN,NaN,NaN,15,2.0,0.0,0.0,NaN,NaN,NaN,NaN,Package,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(direct),(none),desktop,(not set),(not set),en-us,Canada,1867.0,0.0,NaN,NaN,0.00000,NaN,1.0,1867.0,31.0,31.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20854.0,Londolozi - English,English,Londolozi,2016-01-01 05:27:56,gmail.com,Website,Assigned,NaN,NaN,18 07 2016,NaN,NaN,NaN,3-4 nights,2.0,2.0,NaN,NaN,PH,Calamba,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,google,cpc,desktop,www.londolozi.com,[a:LON][c:GBR][l:EN][n:GSN][g:Brand][t:www],en-us,United Kingdom,293.0,1.0,24 03 2017,01 11 2017,35799.28158,0.221695,1.0,283.0,6.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,20855.0,Londolozi - English,English,Londolozi,2016-01-01 05:27:56,gmail.com,Website,Assigned,NaN,NaN,18 07 2016,NaN,NaN,NaN,3-4 nights,2.0,2.0,NaN,NaN,PH,Calamba,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,google,organic,desktop,(not provided),(not set),en-us,United States,2858.0,1.0,03 04 2017,12 05 2017,13996.70640,0.227259,1.0,283.0,6.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.shape

(112333, 69)

## Data Cleaning & Processing

In [6]:
# check duplicates
data.duplicated().sum()

0

In [7]:
# sex index as ID 
data = data.set_index('ID')

In [8]:
# last row is meaningless (only NaN and 0)
# drop last row
data = data.iloc[:-1]

In [9]:
# Since our target variable is column "is booking", we need to drop the rows where "is booking" is null.
data = data.dropna(subset = ['is booking'])
data.shape

(111716, 68)

In [10]:
data.columns

Index(['Brand', 'Language', 'Website', 'created', 'Client email domain', 'Enquiry type', 'Enquiry status', 'Currency', 'Client budget', 'Arrival date', 'Arrival date text', 'Departure date', 'Num nights', 'Stay duration', 'Adults', 'Children', 'Flights booked', 'Residential country code', 'Detected country code', 'Detected city', 'Reviewed availability', 'Reviewed grade', 'Reviewed budget', 'Reviewed quality', 'Budget value', 'Click path', 'User agent', 'User repeat', 'User referral', 'Client last contact', 'Consultant last contact', 'First response time', 'Assignment response time', 'Has emails', 'Has calls', 'is open', 'is dead', 'Client email', 'Consultant email', 'Client calls', 'Consultant calls', 'Lead status', 'No response', 'No contact', 'GA source', 'GA medium', 'Device', ' GA keyword', 'GA campaign', 'GA language', 'GA country', 'Session duration', 'is booking', 'Last invoice date', 'Last travel date', 'Sales (excl vat)', 'GP %', 'Sessions', 'Avg. session length (sec)',
       'Avg. pageviews per session', 'Pageviews', 'Hits', 'Status', 'Status Type', 'Enquiry open', 'Enquiry dead', 'Reason', 'Quality'],
      dtype='object')

In [11]:
data.columns = data.columns.str.strip()

In [12]:
# The goal is to build a model that can predict lead scores at the time the enquiry is submitted. 
# Therefore, columns that produced after the submission of enquiry should not be used for model building. 

df = data[['Language',
 'Website',
 'created',
 'Client email domain',
 'Enquiry type',
 'Enquiry status',
 'Currency',
 'Client budget',
 'Arrival date',
 'Arrival date text',
 'Departure date',
 'Num nights',
 'Stay duration',
 'Adults',
 'Children',
 'Flights booked',
 'Residential country code',
 'Detected country code',
 'Detected city',
 'Budget value',
 'Click path',
 'User agent',
 'User repeat',
 'User referral',
 'GA source',
 'GA medium',
 'Device',
 'GA keyword',
 'GA campaign',
 'GA language',
 'GA country',
 'Session duration',
 'is booking',
 'Sessions',
 'Avg. session length (sec)',
 'Avg. pageviews per session',
 'Pageviews',
 'Hits']]

df.shape

(111716, 38)

In [13]:
df.head()

        Language       Website              created Client email domain Enquiry type Enquiry status Currency Client budget Arrival date Arrival date text Departure date  Num nights Stay duration  Adults  Children  Flights booked Residential country code Detected country code Detected city Budget value Click path  User agent  User repeat  User referral GA source GA medium   Device         GA keyword                                  GA campaign GA language      GA country  Session duration  is booking  Sessions  Avg. session length (sec)  Avg. pageviews per session  Pageviews  Hits
ID
82983.0  English  Rhino Africa  2016-01-01 00:20:49           yahoo.com      Website       Assigned      NaN        Luxury   19 06 2016               NaN            NaN         NaN            12     4.0       0.0             0.0                      NaN                    US    Shrewsbury          NaN        NaN         0.0          0.0            0.0    google   organic   tablet     (not provided)                                    (not set)       en-us   United States             354.0         0.0       1.0                      354.0                         3.0        3.0   1.0
82984.0  English  Rhino Africa  2016-01-01 00:55:12             att.net      Website       Assigned      NaN      Standard   03 04 2016               NaN            NaN         NaN             6     2.0       0.0             1.0                      NaN                    US     Stratford          NaN        NaN         0.0          0.0            0.0  (direct)    (none)  desktop          (not set)                                    (not set)       en-us   United States            1793.0         1.0       1.0                     1793.0                        20.0       20.0   1.0
82985.0  English  Rhino Africa  2016-01-01 04:15:47         sunlife.com      Website       Assigned      NaN        Luxury   22 07 2016               NaN            NaN         NaN            15     2.0       0.0             0.0                      NaN                   NaN           NaN          NaN        NaN         0.0          0.0            0.0  (direct)    (none)  desktop          (not set)                                    (not set)       en-us          Canada            1867.0         0.0       1.0                     1867.0                        31.0       31.0   1.0
20854.0  English     Londolozi  2016-01-01 05:27:56           gmail.com      Website       Assigned      NaN           NaN   18 07 2016               NaN            NaN         NaN    3-4 nights     2.0       2.0             NaN                      NaN                    PH       Calamba          NaN        NaN         0.0          0.0            0.0    google       cpc  desktop  www.londolozi.com  [a:LON][c:GBR][l:EN][n:GSN][g:Brand][t:www]       en-us  United Kingdom             293.0         1.0       1.0                      283.0                         6.0        6.0   1.0
20855.0  English     Londolozi  2016-01-01 05:27:56           gmail.com      Website       Assigned      NaN           NaN   18 07 2016               NaN            NaN         NaN    3-4 nights     2.0       2.0             NaN                      NaN                    PH       Calamba          NaN        NaN         0.0          0.0            0.0    google   organic  desktop     (not provided)                                    (not set)       en-us   United States            2858.0         1.0       1.0                      283.0                         6.0        6.0   1.0

In [14]:
# modify data types and unify data type for every column

In [15]:
# column "Click path", remove the strings that have no semantic value, such as 'url','www','<li>'
# convert all text to lowercase

df['Click path'] = df['Click path'].str.replace('url',' ').str.replace('http',' ').str.replace(
    'www',' ').str.replace('com',' ').str.replace('<ol>',' ').str.replace('</ol>',' ').str.replace(
    '<li>',' ').str.replace('</li>',' ').str.replace('s://',' ').str.strip()

In [16]:
# convert all text to lowercase
df['Click path'] = df['Click path'].str.lower()

In [17]:
# column "created", change the data type to datetime64[ns]
# then create a new column specifying month of enquiry submission

df['created'] = pd.to_datetime(df['created'])
df['Created month'] = df['created'].dt.month_name()

In [18]:
df.shape

(111716, 39)

In [19]:
# column "Arrival date", "Departure date", change data type to datetime64[ns]

df['Arrival date'] = pd.to_datetime(df['Arrival date'], dayfirst = True,errors = 'coerce')
df['Departure date'] = pd.to_datetime(df['Departure date'], dayfirst = True,errors = 'coerce')

In [20]:
# Create a column "Created to arrival" that contains the time difference between "Created" and "Arrival date"

df["Created to arrival"] = df['Arrival date'].subtract(df['created'])/np.timedelta64(1,'D')

In [21]:
# There are some rows that have no "Arrival date" value but have "Arrival date text" and "created" values
# Now we can try calculate more values for "Created to arrival" by subtracting "created" from a cleaned version of "Arrival date text"

df[(df['Arrival date'].isnull()) & (df['Arrival date text'].notnull()) & (df['created'].notnull())].shape[0]

27038

In [22]:
pd.to_datetime(df['Arrival date text'], format='%b %y',errors = 'coerce').notnull().value_counts()

False    85257
True     26459
Name: Arrival date text, dtype: int64

In [23]:
# Since 26459 out of 27038 of the values in "Arrival date text" are in qualified "month-abbrev two-digit-year" format
# We will drop all of the rest disqualified values and change this column into a datetime 64 datatype

df['Arrival date text'] = pd.to_datetime(df['Arrival date text'], format='%b %y',errors = 'coerce')

In [24]:
useful_adt_rows = (df['Created to arrival'].isnull()) & (df['Arrival date text'].notnull()) & (df['created'].notnull())
df.loc[useful_adt_rows].shape

(26429, 40)

In [25]:
# There are 26429 rows that dont have "Created to arrival" yet have "Arrival date text" and "created"
# So we'll calculate the time difference for these rows and fill in the "Created to arrival" column

df.loc[useful_adt_rows,'Created to arrival'
      ] = df['Arrival date text'].subtract(df['created'])/np.timedelta64(1,'D')

In [26]:
df['Created to arrival'].notnull().value_counts()

True     106330
False      5386
Name: Created to arrival, dtype: int64

In [27]:
(df['Created to arrival'] <0).value_counts()

False    108875
True       2841
Name: Created to arrival, dtype: int64

In [28]:
# some time differences are negative numbers, which make the 'Arrival date','Departure date' data invalid 
# so we need to drop 'Arrival date','Departure date','Created to arrival' data for rows with negative time difference

df.loc[df['Created to arrival'] < 0,['Arrival date','Departure date','Created to arrival']] = np.nan
(df['Created to arrival'] <0).value_counts()

False    111716
Name: Created to arrival, dtype: int64

In [29]:
# now we can drop the column "created"

df = df.drop(columns = 'created')
df.shape

(111716, 39)

In [30]:
#There are 258 rows that have filled "Arrival date" and "Departure date" but dont have "Num nights" 
#(which is supposed to be Departure date minus arrival date)

df[(df['Num nights'].isnull()) & (df['Arrival date'].notnull()) & (df['Departure date'].notnull())].shape[0]

258

In [31]:
# check if it's because the Arrival date is somehow the same as or after departure date, which makes them invalid data

check_diff = (df.loc[(df['Num nights'].isnull()) & (df['Arrival date'].notnull()) & 
       (df['Departure date'].notnull())]['Departure date'] - df.loc[(
    df['Num nights'].isnull()) & (df['Arrival date'].notnull()) & 
       (df['Departure date'].notnull())]['Arrival date'])/np.timedelta64(1,'D')
(check_diff <= 0 ).value_counts()

True    258
dtype: int64

In [32]:
# There are also no extra "Arrival date text" information that can help us calculate 
# the time difference between arrival and departure

df[(df['Arrival date text'].notnull()) & (df['Arrival date'].isnull()) & (df['Departure date'].notnull())].shape

(0, 39)

In [33]:
# plus all of the rows that both have arrival and departure dates have a calculated, postitive "Num night" vlaue, 
# we can now drop the columns "Arrival date","Arrival date text", and "Departure date"

df = df.drop(columns= ['Arrival date','Arrival date text','Departure date'])

In [34]:
# column "Stay duration" may help us fill in more null values for "Num nights"

df[(df['Stay duration'].notnull()) & (df['Num nights'].isnull())].shape

(55818, 36)

In [35]:
# 33546 out of the 55818 valuable rows of "Stay duration" are numbers
# so we can change these to float type and fill them into "Num nights" column correspondingly

df['Stay duration'].str.isnumeric().value_counts()

False    71687
True     33546
Name: Stay duration, dtype: int64

In [36]:
isnumber = df['Stay duration'].str.isnumeric() == True

In [37]:
df.loc[isnumber, 'Num nights'] = pd.to_numeric(df.loc[isnumber,'Stay duration'])

In [38]:
# For "Stay duration", we can fill in nan values for the rows that 
# have "Num nights" value and focus on the rest of the non-empty rows

df.loc[(df['Num nights'].notnull()), 'Stay duration'] = np.nan

In [39]:
# A lof of such cells contain strings ending with "nights" or "day" or "days day", so we can strip these strings off

df[df['Stay duration'].str.endswith('nights',na=False)]['Stay duration'].head()

ID
20854.0    3-4 nights
20855.0    3-4 nights
20856.0    3-4 nights
26825.0    3-4 nights
26826.0    3-4 nights
Name: Stay duration, dtype: object

In [40]:
df[df['Stay duration'].str.endswith('days day',na=False)].shape

(0, 36)

In [41]:
df[df['Stay duration'].str.endswith('day',na=False)].shape

(2, 36)

In [42]:
df['Stay duration'] = df['Stay duration'].str.rstrip(' nights')

In [43]:
df['Stay duration'] = df['Stay duration'].str.rstrip(' day')

In [44]:
df['Stay duration'] = df['Stay duration'].str.rstrip(' days day')

In [45]:
# many cells contains "-" to connect the range of two numbers
# for these cells, we split the cell based on "-", 
# for those that are split into two strings, we assume they represent the range of the stay duration
# and calculate the mean value for this range by first convert them into float

df[df['Stay duration'].str.contains('-',na=False)].shape

(16423, 36)

In [46]:
dash = df['Stay duration'].str.contains('-',na=False) == True

In [47]:
df['Stay duration'] = df.loc[dash,'Stay duration'].str.split('-')

In [48]:
def avehelper(x):
    if type(x) == list:
        if len(x) ==2:
            if x[0].strip().isdigit() and x[1].strip().isdigit():
                return 1
        return x

In [49]:
qualified_helper = df['Stay duration'].apply(avehelper) == 1
df.loc[qualified_helper].shape

(16223, 36)

In [50]:
df.loc[qualified_helper,'Num nights'] = df.loc[qualified_helper]['Stay duration'].apply(
    lambda x: (int(x[1].strip()) - int(x[0].strip()))/2)

In [51]:
# delete the values that we just used to fill in "Num nights"

df.loc[qualified_helper,'Stay duration'] = np.nan

In [52]:
# These 200 rows left are in very messy format, therefore we drop these values

df[df['Stay duration'].notnull()].shape

(200, 36)

In [53]:
# now we can drop the column "Stay duration"

df = df.drop(columns = 'Stay duration')

In [54]:
# column "Budget value", current data type is object
# some rows contain numbers but are in string format, we need to change them to float
# there are also  some rows that are not numbers, we need to change these values to NaN
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

isnum = ((df['Budget value'].apply(type) == str) & (df['Budget value'].apply(is_number)== True))
notnum = ((df['Budget value'].apply(type) == str) & (df['Budget value'].apply(is_number)== False))
df.loc[isnum ,'Budget value'] = pd.to_numeric(df.loc[isnum,'Budget value'])
df.loc[notnum ,'Budget value'] = np.NaN

# There are some rows that have budget value of 0. We assume that it's non applicable and set them to NaN
df.loc[df['Budget value'] == 0, 'Budget value'] = np.nan

# there are also some rows that have budget value but no currency specified. We need to change these budget values to NaN
df.loc[(df['Budget value'].notnull()) & (df['Currency'].isnull()), 'Budget value'] = np.nan

In [55]:
df['Currency'] = df['Currency'].str.upper()

In [56]:
# We are using an API, Alpha Vantage, to get realtime currency exchange rates
# Since it only supports 5 requests every one minute, we do it in two parts and wait 61 seconds in between

import os
import pandas_datareader.data as web
import time 

currency_part1 = web.DataReader(["USD/EUR","USD/GBP","USD/ZAR"], "av-forex", 
                    access_key= 'A8MBHNJSQGBPPBEX')
print('wait 61 sec')
time.sleep(61)
print('continue running')

currency_part2 = web.DataReader(["USD/BRL","USD/AUD","USD/CAD","USD/CHF"], "av-forex", 
                    access_key= 'A8MBHNJSQGBPPBEX')

currency_dataframe = pd.concat([currency_part1,currency_part2],axis = 1)

wait 61 sec
continue running

In [57]:
currency_dataframe.loc['Exchange Rate'] = pd.to_numeric(currency_dataframe.loc['Exchange Rate'])

In [58]:
currency_dataframe.columns = currency_dataframe.columns.str.lstrip('USD/')

In [59]:
currency_dict = currency_dataframe.loc['Exchange Rate'].to_dict()
currency_dict['USD'] = 1
currency_dict

{'EUR': 0.886,
 'GBP': 0.7948,
 'ZAR': 13.974,
 'BRL': 3.8261,
 'AUD': 1.4244,
 'CAD': 1.3074,
 'CHF': 0.9856,
 'USD': 1}

In [60]:
df['Currency'] = df['Currency'].map(currency_dict)

In [61]:
# Calculate the "Budget value" in US Dollars by multiplying its original value with the excahnge rate in "Currency" column

df.loc[(df['Currency'].notnull()) & (df['Currency'] != 1),
       'Budget value'] = df['Budget value'] / df['Currency']

In [62]:
df = df.round({'Budget value':1})

In [63]:
df['Budget value'].notnull().value_counts()

False    100162
True      11554
Name: Budget value, dtype: int64

In [64]:
# now we can drop the "Currency" column

df = df.drop(columns = 'Currency')

In [65]:
df['Client budget'].notnull().value_counts()

True     55985
False    55731
Name: Client budget, dtype: int64

In [66]:
df['Client budget'].value_counts()

Standard    37834
Luxury      12725
Value        5426
Name: Client budget, dtype: int64

In [67]:
df[(df['Client budget'].notnull()) & (df['Budget value'].notnull())].shape

(0, 34)

In [68]:
df['Budget value'].describe()

count     11554.000000
unique      895.000000
top        3386.004515
freq        755.000000
Name: Budget value, dtype: float64

In [69]:
# column "Budget value" use variable grouping group them into 3 categories "Luxury","Standard", and "Value" 
# based on the distribution of "Luxury","Standard", and "Value" in column "Client budget"
# then we cobime columns "Client budget" with "Budget value" 

df[(df['Client budget'].isnull()) & (df['Budget value'].notnull())].shape

(11554, 34)

In [70]:
df['Budget value'].notnull().value_counts()

False    100162
True      11554
Name: Budget value, dtype: int64

In [71]:
# distribution of "Luxury","Standard", and "Value" in column "Client budget"

(df['Client budget'].value_counts())/(df[df['Client budget'].notnull()].shape)[0]

Standard    0.675788
Luxury      0.227293
Value       0.096919
Name: Client budget, dtype: float64

In [72]:
budget_dis = (df['Client budget'].value_counts())/(df[df['Client budget'].notnull()].shape)[0]
budget_cumu_dis = [0,budget_dis['Value'],budget_dis['Value'] + budget_dis['Standard'],1]
budget_cumu_dis

[0, 0.09691881754041261, 0.7727069750826114, 1]

In [73]:
df['Client budget'].notnull().value_counts()

True     55985
False    55731
Name: Client budget, dtype: int64

In [74]:
df.loc[df['Client budget'].isnull(),'Client budget'] = pd.qcut(
    df['Budget value'], budget_cumu_dis, labels = ['Value','Standard','Luxury'])

In [75]:
df['Client budget'].notnull().value_counts()

True     67539
False    44177
Name: Client budget, dtype: int64

In [76]:
# now we can drop the column "Budget value"

df = df.drop(columns = 'Budget value')

In [77]:
# column "Residential country code", "Detected country code"

df['Residential country code'].notnull().value_counts()

True     69933
False    41783
Name: Residential country code, dtype: int64

In [78]:
df['Detected country code'].notnull().value_counts()

True     67150
False    44566
Name: Detected country code, dtype: int64

In [79]:
# There are 222 rows whose Detected country code is different from Residential country code
# We assume that the Residential country code is incorrect (for example, for those whose detected city are in California.
# the residential code is CA, which makes the residential code less credible)
# Therefore, we combine the two columns and prefer the "Detected country code" when the two column values conflict

df.loc[(df['Detected country code'].notnull()) & (df['Residential country code'].notnull()) & 
      (df['Detected country code'] != df['Residential country code'])].shape

(222, 33)

In [80]:
df.loc[(df['Detected country code'].isnull()) & (df['Residential country code'].notnull()),
       'Detected country code'] = df['Residential country code']

In [81]:
df['Detected country code'].notnull().value_counts()

True     104470
False      7246
Name: Detected country code, dtype: int64

In [82]:
# now we can drop "Residential country code" column and rename "Detected country code" as "Country code"

df = df.drop(columns = 'Residential country code')
df = df.rename({'Detected country code': 'Country code'}, axis=1)

In [83]:
# "GA campaign" column has "(not set)" values, 
# which should be replaced by None

df.loc[df['GA campaign'] == "(not set)",'GA campaign'] = None

In [84]:
# convert all text to lower case

df['GA campaign'] = df['GA campaign'].str.lower()

In [85]:
df['GA campaign'] = df['GA campaign'].fillna('None').astype('U').values

In [86]:
# "GA keyword" column has "(not set)" and "(not provided)" values, 
# which should be replaced by None

df.loc[df['GA keyword'] == "(not set)",'GA keyword'] = None
df.loc[df['GA keyword'] == "(not provided)",'GA keyword'] = None

In [87]:
# convert all text to lower case

df['GA keyword'] = df['GA keyword'].str.lower()

In [88]:
df['GA keyword'] = df['GA keyword'].fillna('None').astype('U').values

In [89]:
# 'Client email domain' convert texts to lower case

In [90]:
df['Client email domain'] = df['Client email domain'].str.lower()

In [91]:
# 'GA source' convert text data to lower case
# strip words like 'com', 'net' that have no semantic value

In [92]:
df['GA source'] = df['GA source'].str.lower()

In [93]:
# delete the rows where "is booking" is neither 1 or 0

In [94]:
df['is booking'].value_counts()

0.00       100638
1.00        11076
826.00          1
4306.45         1
Name: is booking, dtype: int64

In [95]:
df = df.drop(df[(df['is booking'] != 0)&(df['is booking'] != 1)].index)

In [96]:
df['is booking'] = df['is booking'].astype('category')

In [97]:
# Since "GA language" has the same meaning as "Language", and "Language" column fewer empty rows
# We will drop "GA language" column

df = df.drop(columns = 'GA language')

In [98]:
# Since "GA country" has the same meaning as "Country code", and "Country code" column fewer empty rows
# We will drop "GA country" column

df = df.drop(columns = 'GA country')

In [99]:
df.shape

(111714, 30)

In [100]:
# The model testing shows that dropping the column "Detected city", "Client email domain", and "GA campaign" will lead to a higher metric
# so we drop the column "Detected city", "Client email domain", and "GA campaign" 

df = df.drop(columns = ['Detected city','Client email domain', 'GA campaign'])

In [101]:
df.shape

(111714, 27)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 111714 entries, 82983.0 to 167798.0
Data columns (total 27 columns):
Language                      111714 non-null object
Website                       111714 non-null object
Enquiry type                  111714 non-null object
Enquiry status                111714 non-null object
Client budget                 67537 non-null object
Num nights                    94734 non-null float64
Adults                        111312 non-null float64
Children                      111714 non-null float64
Flights booked                91512 non-null float64
Country code                  104468 non-null object
Click path                    76471 non-null object
User agent                    111714 non-null float64
User repeat                   111714 non-null float64
User referral                 111714 non-null float64
GA source                     88753 non-null object
GA medium                     88753 non-null object
Device                        88759 non-null object
GA keyword                    111714 non-null object
Session duration              88758 non-null float64
is booking                    111714 non-null category
Sessions                      86378 non-null float64
Avg. session length (sec)     86378 non-null float64
Avg. pageviews per session    86378 non-null float64
Pageviews                     86378 non-null float64
Hits                          86378 non-null float64
Created month                 111714 non-null object
Created to arrival            103487 non-null float64
dtypes: category(1), float64(14), object(12)
memory usage: 23.1+ MB

In [103]:
df.to_pickle('data_cleaning4.pkl')